[user]
	email = aweel017@gmail.com
	name = Mustafa
[push]
	default = simple
[core]
    editor = vim
	pager = vim -
[credential]
	helper = cache --timeout=7200
	help = cache --timeout=100000
#[diff]
#	tool = vimdiff
#[alias]
#	vimdiff = difftool
